{{define "dashboard-content"}}
<h5 class="small">
    <i>dashboard</i>
    <span>System Dashboard</span>
</h5>
{{$td := .TemplateData}}
<div class="grid">
    <div class="s12 m12 l6" sse-swap="battery" hx-swap="innerHTML">
        {{template "battery" $td}}
    </div>
    <div class="s12 m12 l6" sse-swap="pv" hx-swap="innerHTML">
        {{template "pv" $td}}
    </div>
    <div class="s12 m12 l6" sse-swap="load" hx-swap="innerHTML">
        {{template "load" $td}}
    </div>
    <div class="s12 m12 l6" sse-swap="grid" hx-swap="innerHTML">
        {{template "grid" $td}}
    </div>
    <div class="s12 m12 l12" sse-swap="units" hx-swap="innerHTML">
        {{template "units" $td}}
    </div>
</div>
{{end}}
