{{define "load"}}
<article class="surface-variant round large-padding">
    <nav class="no-margin">
        <i class="extra primary-text">power</i>
        <div class="max">
            <h5 class="no-margin">Load</h5>
            {{if .Snapshot}}<p class="small-text">Consumption</p>{{end}}
        </div>
        {{if .Snapshot}}
        <div class="right-align">
            <h2 class="no-margin primary-text {{vc .Changed "load-total"}}">{{printf "%.0f" .Load.TotalPower}} <span class="large-text">W</span></h2>
        </div>
        {{end}}
    </nav>
    {{if .Snapshot}}
    <div class="space"></div>
    <div class="grid">
        <div class="s4 m3">
            <p class="small-text no-margin">Apparent Power</p>
            <h6 class="no-margin {{vc .Changed "load-va"}}">{{printf "%.0f" .Load.TotalApparentPower}} <span class="small-text">VA</span></h6>
        </div>
        <div class="s4 m3">
            <p class="small-text no-margin">Power Factor</p>
            <h6 class="no-margin {{vc .Changed "load-pf"}}">{{printf "%.2f" .Load.PowerFactor}}</h6>
        </div>
        {{if gt .Load.DCPower 0.0}}
        <div class="s4 m3">
            <p class="small-text no-margin">DC Load</p>
            <h6 class="no-margin {{vc .Changed "load-dc"}}">{{printf "%.0f" .Load.DCPower}} <span class="small-text">W</span></h6>
        </div>
        {{end}}
    </div>
    {{else}}
    <p class="small-text">Waiting for data...</p>
    {{end}}
</article>
{{end}}
